.logo {
    width: 80px;
}

.navbar {
    background-color: rgb(7, 10, 109) !important;
    color: #000;
}

.sign-out {
    background: rgb(146, 157, 229);
    padding: 0;
    margin: 0;
}


.navbar-nav {
    color: red;
}