.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;

}

@media only screen and (max-width: 700px) {
    .service-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media only screen and (max-width: 900px) {
    .service-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */